[client_local]
user=your_local_username
password="your_local_password"
host=localhost

[client_dev]
user=your_dev_username
password="your_dev_password"
host=dev.db.server

[client_staging]
user=your_staging_username
password="your_staging_password"
host=staging.db.server

[client_production]
user=your_prod_username
password="your_prod_password"
host=prod.db.server
